.group:hover .group-hover\:visible {
    visibility: visible;
  }


@media only screen and (max-width: 767px) and (min-width: 0px)  {
    .totalProduct{
        font-size: x-small;
        width: 155px;
        height: 230px; 
        margin-bottom: 10px;
       border: 1px solid;
    }
    .productImage{
        padding: 8px;
       
        width: 150px;
        height: 140px;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px)  {
    .totalProduct{
        width: 230px;
        height: 280px; 
       margin-bottom: 15px;
       border: 1px solid;
    }
    .productImage{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 150px;
        height: 150px;
    }
 
}
@media only screen and (max-width: 1439px) and (min-width: 1024px)  {
    .totalProduct{
        width: 230px;
        height: 280px; 
       margin-bottom: 15px;
       border: 1px solid;
    }
    .productImage{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 170px;
        height: 160px;
    }
 
}
@media only screen and (max-width: 1919px) and (min-width: 1440px)  {
    .totalProduct{
        font-size:small;
        width: 176px;
        height: 255px; 
        border: 1px solid;
       
    }
    
    .productImage{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 150px;
        height: 150px;
    }
 
}
@media only screen and (max-width: 2560px) and (min-width: 1920px)  {
    .totalProduct{
        font-size:large;
        width: 260px;
        height: 340px; 
        border: 1px solid;
    }
    
    .productImage{
        margin-top: 7px;
        margin-bottom: 7px;
        width: 200px;
        height: 220px;
    }
 
}