/* call product input btn css 9 12 18 24 */
.select{
    height: 24px !important;
    min-height: 24px !important;
    border-radius: 2px !important;
}


/* product css */
.group:hover .group-hover\:visible {
    visibility: visible;
  }

