.group:hover .group-hover\:visible {
    visibility: visible;
  }


@media only screen and (max-width: 767px) and (min-width: 0px)  {
    .RelatedTotalProduct{
        font-size: x-small;
        width: 95%;
        height: 210px; 
        margin-bottom: 10px;
       border: 1px solid;
    }
    .RelatedProductImage{
        padding: 8px;
       
        width: 95%;
        height: 140px;
    }
    .H-button-position{
        left: 13%;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px)  {
    .RelatedTotalProduct{
        width: 80%;
        height: 330px; 
       margin-bottom: 15px;
       border: 1px solid;
    }
    .RelatedProductImage{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 90%;
        height: 210px;
    }
    .H-button-position{
        left: 28%;
    }
 
}
@media only screen and (max-width: 1439px) and (min-width: 1024px)  {
    .RelatedTotalProduct{
        font-size:small;
        width: 85%;
        height: 325px; 
        border: 1px solid;
       
    }
    
    .RelatedProductImage{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 85%;
        height: 230px;
    }
    .H-button-position{
        left: 27%;
    }
}
@media only screen and (max-width: 1919px) and (min-width: 1440px)  {
    .RelatedTotalProduct{
        font-size:small;
        width: 90%;
        height: 325px; 
        border: 1px solid;
       
    }
    
    .RelatedProductImage{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 90%;
        height: 230px;
    }
    .H-button-position{
        left: 24%;
    }
}
@media only screen and (max-width: 6000px) and (min-width: 1920px)  {
    .RelatedTotalProduct{
        font-size:small;
        width: 90%;
        height: 335px; 
        border: 1px solid;
       
    }
    
    .RelatedProductImage{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 90%;
        height: 240px;
    }
    .H-button-position{
        left: 25%;
    }
}