.group:hover .group-hover\:visible {
    visibility: visible;
  }

@media only screen and (max-width: 767px) and (min-width: 0px)  {
    .totalProductBP{
        font-size: x-small;
        width: 95%;
        height: 210px; 
        margin-bottom: 10px;
        border: 1px solid rgb(221, 219, 219);
    }
    .productImageBP{
        padding: 8px;
        width: 75%;
        height: 130px;
       
    }
    .H-button-position{
        left: 13%;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px)  {
    .totalProductBP{
        width: 95%;
        height: 280px; 
       margin-bottom: 15px;
       border: 1px solid rgb(221, 219, 219);
    }
    .productImageBP{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 75%;
        height: 150px;
    }
    .H-button-position{
        left: 23%;
    }
}
@media only screen and (max-width: 1279px) and (min-width: 1024px)  {
    .totalProductBP{
        width: 95%;
        height: 280px; 
       margin-bottom: 15px;
       border: 1px solid rgb(221, 219, 219);
    }
    .productImageBP{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 75%;
        height: 160px;
    }
    .H-button-position{
        left: 22%;
    }
 
}
@media only screen and (max-width: 1439px) and (min-width: 1280px)  {
    .totalProductBP{
        font-size:small;
        width: 99%;
        height: 240px; 
       margin-bottom: 5px;
       border: 1px solid rgb(221, 219, 219);
    }
    .productImageBP{
        margin-top: 4px;
        margin-bottom: 4px;
        width: 70%;
        height: 135px;
    }
    .BP-button-position{
        left: 18%;
        transition: .3s;
        transform: translateY(100%);
    }
    .totalProductBP:hover  .BP-button-position{
        transform: translateY(0);
    }
}
@media only screen and (max-width: 1535px) and (min-width: 1440px)  {
    .totalProductBP{
        font-size:small;
        width: 99%;
        height: 250px; 
       margin-bottom: 5px;
       border: 1px solid rgb(221, 219, 219);
    }
    .productImageBP{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 80%;
        height: 140px;
    }
    .BP-button-position{
        left: 18%;
        transition: .3s;
        transform: translateY(100%);
    }
    .totalProductBP:hover  .BP-button-position{
        transform: translateY(0);
    }
}
@media only screen and (max-width: 1919px) and (min-width: 1536px)  {
    .totalProductBP{
        font-size:small;
        width: 100%;
        height: 280px; 
       margin-bottom: 10px;
       border: 1px solid rgb(221, 219, 219);
    }
    .productImageBP{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 80%;
        height: 170px;
    }
    .BP-button-position{
        left: 18%;
        transition: .3s;
        transform: translateY(100%);
    }
    .totalProductBP:hover  .BP-button-position{
        transform: translateY(0);
    }
}
@media only screen and (max-width: 6000px) and (min-width: 1920px)  {
    .totalProductBP{
        font-size:medium;
        width: 100%;
        height: 280px; 
        margin-bottom: 10px;
        border: 1px solid rgb(221, 219, 219);
    }
    
    .productImageBP{
        margin-top: 7px;
        margin-bottom: 7px;
        width: 80%;
        height: 160px;
    }
    .BP-button-position{
        left: 18%;
        transition: .3s;
        transform: translateY(100%);
    }
    .totalProductBP:hover  .BP-button-position{
        transform: translateY(0);
    }
}